{% extends 'base.html' %}

{% block title %}
{{super() }} cambiar contraseña
{% endblock %}



{% block content %}
<h1>Cambiar contraseña</h1>
<br>
<center><form method="post">
<label for="password-actual">Contraseña actual:</label>
<input type="password" id="password-actual" name="password-actual" required>
<br>
<br>
<br>
<label for="nueva-password">Nueva contraseña:</label>
<input type="password" id="nueva-password" name="nueva-password" required>
<br>
<div class="botones">
<br>   
 <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
</div>
</form></center>
{% endblock %}